#flex1{
    display: flex;
    justify-content: space-around;
    
}

#flex2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#flex3{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#flex4{
    display: flex;
    justify-content: space-around;
    
}